{% extends "base.html" %}
{% block title %}
Home - {{super()}}
{% endblock %}

{% block content %}
<div class="row">
    {% if current_user.is_authenticated %}
    <div class="col-lg-2 offset-lg-2">
        {% if current_user.picture_path %}
            <img class="user-image-big" src="{{url_for('static', filename=current_user.picture_path)}}">
        {% endif %}
    </div>
    <div class="col-lg-4 offset-lg-2">
        <p>ユーザ名：{{current_user.username}}</p>
        <p>メールアドレス：{{current_user.email}}</p>
    {% else %}
        <p>ログインしてくださいな</p>
    {% endif %}
    </div>
    <!-- 友達一覧表示 -->
    <div class="col-lg-12">
        <table class="table">
            <!-- テーブルのヘッダー -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>友達画像</th>
                    <th>友達の名前</th>
                </tr>
            </thead>
            <!-- テーブルのボディ -->
            {% if friends %}
            <tbody>
                {% for friend in friends %}
                <tr>
                    <th>{{loop.index}}</th>
                    {% if friend.picture_path %}
                    <th>
                        <img class="user-image-small" src="{{url_for('static', filename=friend.picture_path)}}">
                    </th>
                    {% else %}
                    <th></th>
                    {% endif %}
                    <th>{{friend.username}}</th>
                </tr>
                {% endfor %}
                
            </tbody>
            {% endif %}
        </table>
    </div>
    <!-- 非承認待ち一覧表示 -->
    <div class="col-lg-12">
        {% if requested_friends %}
        <table class="table">
            <!-- テーブルのヘッダー -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>承認リクエストユーザ画像</th>
                    <th>承認リクエストユーザ</th>
                    <th>承認ボタン</th>
                </tr>
            </thead>
            <!-- テーブルのボディ -->
            <tbody>
                {% for requested_friend in requested_friends %}
                <tr>
                    <th>{{loop.index}}</th>
                    {% if requested_friend.picture_path %}
                    <th>
                        <img class="user-image-small" src="{{url_for('static', filename=requested_friend.picture_path)}}">
                    </th>
                    {% else %}
                    <th></th>
                    {% endif %}
                    <th>{{requested_friend.username}}</th>
                    <th>
                        <form method="POST" action="{{url_for('app.connect_user')}}">
                        <!-- forms.pyから取得せず、ただviews.pyに変数を返すだけのフォーム -->
                        {{connect_form.csrf_token}}
                        {{connect_form.connect_condition(value='accept')}}
                        {{connect_form.to_user_id(value=requested_friend.id)}}
                        {{connect_form.submit(class='btn btn-primary', value='友達申請を承認')}}
                        </form>
                    </th>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        {% endif %}
    </div>

</div>
{% endblock %}


